.modal{
	
	height:100%;
	width:100%;
	position: absolute;
	z-index: 100;
	top:0;
	background:rgb(0,0,0,0.7);
   
	display:none;
}
.modal_form
{
	
	width:300px;
	padding:20px 10px;
	position:absolute;
	background:white;
	border-radius: 4px;
	top:30%;
	left:35%;

}
.modal_form form label
{
	font-family:helvetica;

}
.modal_form form input
{
	font-family:helvetica;
	margin-top:5px;
	margin-bottom: 5px;

}
#btn_close
{
	background-color:red;
	position:absolute;
	top:-10px;
	right:-10px;
}
.success
{
	background-color: red !important;
}
#error
{
	color:white;
	background-color:rgb(255,0,0,0.7);
	display:inline;
	
	border-radius:6px;
	position: absolute;
	top:7%;
	left:85%;

}
#success
{
	color:white;
	background-color:rgb(0,128,0,0.7);
	display:inline;
	
	border-radius:6px;
	position: absolute;
	top:7%;
	right:36%;
}